<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RefugeeUserApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.RefugeeUserApp" />

        <activity
            android:name=".view.QrCodeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_qrcode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.RefugeeUserApp" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".view.CourseDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_course_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.RefugeeUserApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RefugeeUserApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>